#CharacterDialogueScreen {
    background-color: #CBC3E3;
    height: 70%;
    width: 70%;
    position: relative;
    margin: auto;
    top: 15%;
}

#CharScreen {
    position: relative;
    top: 10%;
}

#TextScreen {
    background-color: red;
    position: relative;
    width: 80%;
    height: 20%;
    margin: auto;
}